.input-form {
  display: flex;
  flex-wrap: wrap;
  margin-left: 7%;
  justify-content: flex-start;
  width: 650px;
}


@media(max-width: 800px){
    .input-form{
        flex-direction: column;
        width: 300px
    }
}


.first {
  height: 60px;
  width: 300px;
  margin-right: 25px;
  background-color: rgb(240, 238, 238);
  margin-bottom: 10%;
  border: 1px solid grey;
    border-radius: 5px;
}

.first-label, .second-label,.third-label,.fourth-label{
    color: black;
    margin-bottom: 5%;
    margin-top: 10%;
}

.second {
  height: 60px;
  width: 300px;
  margin-right: 25px;
  background-color: rgb(240, 238, 238);
  margin-bottom: 10%;
  border: 1px solid grey;
    border-radius: 5px;
}

.third {
  height: 60px;
  width: 300px;
  margin-right: 25px;
  background-color: rgb(240, 238, 238);
  margin-bottom: 10%;
  border: 1px solid grey;
    border-radius: 5px;
}

.fourth {
  height: 60px;
  width: 300px;
  margin-right: 25px;
  background-color: rgb(240, 238, 238);
  margin-bottom: 10%;
  border: 1px solid grey;
    border-radius: 5px;
}
label {
  display: block;
}

.button-1 {
  display: block;
  padding: 5px 200px;
  margin: auto;
  font-size: 28px;
  white-space: nowrap;
  text-align: center;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 5px;
}

@media(max-width: 800px){
    .button-1 {
        display: block;
        margin: 0px auto 0px 0px;
        margin-top: 15px;
        font-size: 18px;
        white-space: nowrap;
        text-align: center;
        padding: 0px;
      }

.first, .second,.third,.fourth{
    margin-left: 0px;
    width: 200px;
}
}

.first.invalid {
  background-color: rgb(241, 174, 174);
  border-color: red;
}

.first-label.invalid {
  color: red;
}

.fifth{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inner-fifth{
  display: flex;
  flex-direction: row;
}

    @media(max-width: 800px){
        .fifth img {
            position: relative;
            top: 40px;
                }
    }
    

