.nav-wrapper {
display: flex;
justify-content:flex-end;
font-size: 28px;
}

.nav-wrapper span{
    margin-left: 5%;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

@media(max-width: 900px){
    .nav-wrapper{
        font-size: 18px;
    }

}

span img{
    position: relative;
    left: 87vw;
    bottom: 8vh
}

@media(max-width: 900px){
    span img{
        width: 50px;
        height:50px;
        position: relative;
        bottom: 50px;
     }

}

@media(max-width: 500px){
    .nav-wrapper{
        font-size: 12px;
    }

    .nav-wrapper span{
        margin-left: 2%;
    }
}