.payment-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.payment-info div p {
 font-weight: 50;
 color: grey;
}

.payment-info div h1 {
    font-weight: 650;
   }

.img1{
    width:300px
}

@media(max-width:600px){
    .payment-info{
        width:400px;
        flex-wrap: wrap;
        
    }
}