.main-wrapper{
    display: flex;
    justify-content: space-between;
}

@media(max-width:1300px){
    .main-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}