* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 5% 5% 5% 10%;
  width:100%;
}

main {
  margin-top: 6rem;
}